/* ==========================================================================
   Night theme skin
   ========================================================================== */

/* Colors */
$base-color: #222b32 !default;
$text-color: #c3b6a2 !default;
$accent-color: #f4e4ce !default;
$background-color: #222b32 !default;
$code-background-color: #222b32 !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #222b32 !default;
